# Dependencies
node_modules/

# Build output
dist/
build/

# Temporary files
*.log
*.tmp

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/

# Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
